.mapStyle {
     width:700px;
     height: 300px;
     margin: 75px 250px 75px 250px ;
     border-radius: 5px;
  }

  .map{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(145, 210, 270, 1);
    padding: 0px 20px;
    margin: 75px 250px 75px 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(36, 36, 36);
    max-width: 800px;
    height: 400px;
    box-shadow: 2px 2px 5px rgb(54, 54, 54);
  }