.imgCold{
    background-image: url(assets/coldWeather.jpg);
    background-position: center;
    background-repeat: repeat repeat; 
    background-size: cover;
    
}

.imgHot{
    background-image: url(assets/warmWeather.jpg);
    height: 100%;
    background-position: center;
    background-repeat: repeat repeat;
    background-size: cover;
}