/*Box don't Forget*/

.boxDontFrget {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #91d2d9;
    padding: 15px 0px 0px 0px;
    margin: 20px 250px 20px 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(36, 36, 36);
    width: 800px;
    height: 450px;
}

#dontForgtTitle {
    padding: 10px;

}

#getimage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.vetement{
    width: 500px;
    height: auto;
    border-radius: 10px;
    min-width: 40%;
    }

.pictos{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
}

.pictos img{
    max-width: 150px;
    margin: 0px 15px;
}